@model IEnumerable<SERVICIOS.Models.MCategoria>
@using SistemaHorarios.Helpers
@{
    ViewBag.Title = "Categorias";
}
<div class="row">
    <div class="col-lg-12">
        @Html.MenuConfiguracion(User)
    </div>
</div>
<div id="frm" class="row">
    <div class=" col-lg-8">
        <h2>Categorias de Empleados</h2>
        <a class="btn btn-success" id="nuevo">Nueva Categoria</a><br /><br />
        @foreach (var item in Model)
        {
            <ul class="list-group">
                <li class="list-group-item active">Nombre de categoria : @item.nomCategoria <a data-id="@item.idCategoria" class="btn btn-success editar">Editar Categoria</a>  <a data-id="@item.idCategoria" class="btn btn-success eliminar">Eliminar Categoria</a></li>
                <li class="list-group-item">Hora de entrada asignada : @item.hraEntAsignada</li>
                <li class="list-group-item">Hora de Salida asignada : @item.hraSalAsignada</li>
            </ul>
        }
    </div>
</div>
<div class="modal fade" tabindex="-1" id="modalCategorias" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Configuración de Categorias</h4>
            </div>
            <div class="modal-body" id="modalContenedor">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            var $linkEditar = $(".editar");
            var $linkNuevo = $("#nuevo");
            var $modal = $("#modalCategorias");
            var $contenedor = $("#modalContenedor");
            var cargaModalEdicion = function (id) {
                $contenedor.load("/Configuracion/FrmEditarCategoria/" + id, function () {
                    $modal.modal("show");
                });
            }
            var cargaModalNuevo = function () {
                $contenedor.load("/Configuracion/FrmNuevaCategoria/", function () {
                    $modal.modal("show");
                });
            }
            $linkEditar.click(function () {
                var id = $(this).data("id");
                cargaModalEdicion(id);
            });
            $linkNuevo.click(function () {
                cargaModalNuevo();
            });
            
        });
        
    </script>
    }
