
@{
    ViewBag.Title = "EditarUsuarios";
}
<div class="row">
    <div class="col-lg-12">
        <h2>Configuración de Sistema</h2>
        <a class="btn btn-primary" href="@Url.Action("CategoriasEmpleados","Configuracion")">Configurar Categorias</a>
        <a class="btn btn-primary" href="@Url.Action("Permisos","Account")">Configurar Administradores</a>
        <a class="btn btn-primary" href="@Url.Action("ConfigDiasFestivos", "Configuracion")">Configurar Dias Festivos</a>
        <a class="btn btn-primary" href="@Url.Action("EditarUsuarios","Account")">Edición de Usuarios</a>
        <a class="btn btn-warning" href="@Url.Action("EditarHistorial", "Configuracion")">Editar Historial</a>
        <a class="btn btn-warning" href="@Url.Action("EditarPermisos", "Configuracion")">Editar Permisos de Salida</a>
    </div>
</div>
<h2>EditarUsuarios</h2>

