@model SERVICIOS.FullCalendarModel.MFullCalendar

@{
    ViewBag.Title = "DetalleFecha";
    Layout = null;
}
<div class="row">
    <div class="col-lg-12">
        @if (User.IsInRole("Administrador"))
        {
            using (Ajax.BeginForm("EliminarEvento","Configuracion", new AjaxOptions { HttpMethod="Post",Confirm = "Desea eliminar esta fecha" }))
            { 
                @Html.HiddenFor(a=>a.id)
            <button type="submit" class="btn btn-danger" data-id="@Model.id" id="btnElimina">Eliminar</button> <a href="#" class="btn btn-primary" data-id="@Model.id" id="btnEditar">Editar</a>
            }

        }
        <hgroup>
            <h2>Nombre del Evento o Restricción:</h2>
            <h2>@Model.title</h2>
            <h3>Fecha de Inicio: @Model.fechaInicio.ToLocalTime()</h3>
            <h3>Fecha de Fin: @Model.fechaFin.ToLocalTime()</h3>
            @if (Model.allDay)
            {
                <h3>Duración: Este evento dura todo el dia</h3>
            }
            <h3>Descripción</h3>
        </hgroup>
        
        <div class="well">
            <p>@Model.descripcion</p>
        </div>
    </div>
</div>
